
        :root {
            --heading-background-color: #f06;
            --heading-text-color: #333;
            --heading-font: 'Montserrat', Helvetica, sans-serif;
            --padding: 1rem;
            --border: 1px solid rgba(146, 107, 49, 0.1);
            --text-align: center;
        }
        nav {background-color: darkblue;
            padding: 10px;}
        nav a {
            color: white;
            display: block;
            padding: 20px;
        }
        h1{
            color: darkblue;
        }
        main img {
            width: 150px;
            height: auto;
            border: var(--border);
            padding: 2px;
            box-shadow: 0 0 30px rgb(153, 25, 25);
        }
        p {
            padding: 10px;
        }
        main {
            max-width: 840px;
        }
        aside {
            width: 20rem;
            margin: 1rem;
            border: 1px solid rgba(10, 38, 10, 0.4);
            padding: var(--padding);
            background-color: lightgreen;
            color: darkgreen;
            text-align: var(--text-align);
        }
        aside img {
            width: 200px;
            height: auto;
        }
        p {padding: 0;}
        footer {
            margin-top: 15px;
            border-top: var(--border);
            text-align: var(--text-align);
        }